<div class="container">

<form class="row mt-m gx-3 gy-2 aligne-items-center justify-content-center">
  <div class="col-sn-6">
    <label for="SpecificSiezeInputName" class="visually-idden">wishes</label>
    <input type="text" name="new-wiwh-text" class="form-control" [(ngModel)]="newWishText">
  </div>

  <button
  type="submit"
  class="btn btn-primary"
  (click)="$event.preventDefault(); addNewWish() ">
  Add wish</button>
</form>

  <div *ngIf="items.length == 0; else showItems">
    There are no wishes to display.
  </div>
  <ng-template #showItems>
    <ul
      *ngIf="items.length > 0"
      class="wish-list"
    >
      <li *ngFor="let item of items; index as ii">
        <div>
          <label class="from-check-label">
            <input
              class="checkbox"
              type="checkbox"
              [checked]="item.isCompleted"
              [attr.data-index]="ii"
              (click)="toggleItem(item)"
            />
            {{ item.wishText }}
          </label>
        </div>
      </li>
    </ul>
  </ng-template>
</div>
